.max-height {
  min-height: 100vh;
}

.text-muted {
  color: #101110 !important;
}

body {
  background: #108b249a;
}

.quote-container {
  background: rgba(231, 74, 74, 0.5);
}

#generate-btn {
  color: white !important;
  background: #ee0505 !important;
  border-color: #f4f6f6 !important;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

#generate-btn:hover {
  background: #0e0d0d !important;
  border-color: #ece7e5 !important;
  color: #f1e6e6 !important;
}

.author {
  color: #070d5d;
}